body {
    margin: 0px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 40%;
    height: 45%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/logo.png');
    flex: none;
    position: relative;
}